@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
body {
    font-size: 12pt;
    font-family: "Times New Roman";
}

h1 {
    font-family: 'Agbalumo';
    font-size: 36pt;
}
main, header, footer, nav ul {
    max-width: 90rem; /*här jag ändrar storleken den svarta bakgrunden*/
    margin: 0 auto;
}

main {
    background-color: white(198, 236, 229);
}

/* nav ul li {
    display: inline-block;
    background-color: grey;
    padding: 1em;
    margin: 1em;
} */
.header-content {
    position: relative;
    height: 200px;
    overflow: hidden;
    margin: 15px;
}

.header-content h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    color: white;  
    text-shadow: 2px 2px 4px black;
    margin: 0;
    width: auto; 
}
@media only screen and (max-width: 700px){
    h1{
        font-size: 30pt;
    }
}

@media only screen and (max-width: 590px){
    h1{
        font-size: 25pt;
    }
}


.header-content img{
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.7;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9.25em);
    gap: 1em;
    padding: 0;
}

nav li {
    display: block;
    background-color: grey;
    padding: 1em;
}

.Very-good {
    color: green;
}

.Master {
    color: green;
    font-weight: bold;
}
#burger-section { /*ändrar bagrund och textfärg*/
    background-color: rgb(87, 52, 52);
    color: white;
    margin: 15px;
    padding: 15px;
    border: 5px dashed; /*behöver ej lägga till färg, då används automatiskt textfärgen*/
}
#burger-title{
    text-align: center;
    color: white;
}
.burger-images{
    display: block;
    margin: auto;
    
}
.burger-h3{
    text-align: center;
}
.burger-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr) /*repeat(3, 1fr)*/;
    /*gap: 60px;*/
}
.burger-item{
    /*border: 4px ridge white;
    border-radius: 3px;*/
    padding: 20px;
    margin: 10px;
    /*background-color: rgba(255, 255, 255, 0.184);*/
}
@media only screen and (max-width: 900px){
    .burger-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
}

#order-section{
    background-color: rgb(154, 88, 88);
    margin: 15px;
    padding: 15px;
    border: 5px dashed;
    color: black;
}
.ingridient-info {
    font-weight: bold;
}
button:hover { /*ändrar "skicka order"-knappen*/
    background-color: #27F573;
    cursor: pointer; /*ändrar musen när den befinner sig inom knapp området*/
}

button {
    margin-left: 15px;
    margin-bottom: 10px;
}
/*div {
    margin: 10px;
    padding: 10px;
}*/

